{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}

  <h1>{% block title %}Register{% endblock %}</h1>
  <br>
  <form method="post">
    <label for="username">Username</label>
    <input name="username" class="form-control" id="username" required>
  <br>
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" required>
  <br>
    <input type="submit" class="btn btn-primary" value="Register">
  </form>
{% endblock %}
