{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
{% endfor %}

{% if name %}
<h1>Hello {{ name }}</h1>
  <br><br><br>
<table class="table table-hover table-bordered table-striped">
{% for our_user in our_users %}
<tr>
  <td>{{ our_user.id }}. {{ our_user.name }}
    - {{ our_user.email }} - {{ our_user.favourite_color }}</td></tr>
{% endfor %}
</table>

{% else %}
<h1>Update User...</h1>
  <br>
  <div class="shadow p-3 mb-5 bg-white rounded">
    <form method="POST" action="/update/{{ name_to_update.id}}">
    {{ form.hidden_tag() }}

    {{ form.name.label }}
    {{ form.name(
    class="form-control", value=name_to_update.name) }}
    <br>
    {{ form.email.label }}
    {{ form.email(
    class="form-control", value=name_to_update.email) }}
    <br>
    {{ form.favourite_color.label }}
    {{ form.favourite_color(
    class="form-control", value=name_to_update.favourite_color) }}
    <br>
    {{ form.submit(
    class="btn btn-dark") }}
    <a href="{{ url_for('delete', id=id) }}" class="btn btn-danger">Delete</a>
  </form>
</div>

<br><br><br>

{% endif %}

{% endblock %}
